.skillsSectionWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.skillsBackgroundWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  pointer-events: none;

}

.skillsBackgroundWrapper :global(skills-background) {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}



.skillsContentWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  container-type: size;
}

.skillsContent {
  width: 111cqh;
  display: grid;
  grid-template-columns: 50cqh max-content;
  grid-template-areas: "first-col second-col";
  /* turn 50 ch to 100ch * fill percent */
  margin-inline-start: calc((100cqw / 2) - (100cqh * var(--chsp)));
}

@media (max-aspect-ratio: 4/3) {

  /* styles for width < height*1.33 */
  .skillsContent {
    /*2.2 is a ratio of w/h of svg*/
    margin-inline-start: calc((100cqw - ((100cqh * var(--chsp))* 2.2)) / 2);
  }
}

@media (max-aspect-ratio: 1/1) {

  /* height >= width */
  .skillsContent {
    margin-inline-start: calc(-1 * (120cqh * var(--chsp))/2);
  }
}

.title {
  grid-area: first-col;
  display: flex;
  text-align: center;
  height: 100%;
  color: var(--p-color);
  transition: all 0.2s 0s ease;
  margin: 0;
  padding: 0;
  font-family: "title-font";
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(calc(var(--sgp) * 0.5cqh));
}

.title:hover {
  color: var(--p-color-light);
}

@media (max-width: 991px) {
  .title {
    font-size: 1.7rem;
    letter-spacing: -0.05rem;
  }
}

@media (max-aspect-ratio: 1/1) {
  .title{
    text-align: end;
    justify-content: end;
    transform: translateX(calc(-2.5 * var(--sgp) * 0.5cqh));
  }
}

.dividerSVG {
  grid-area: first-col;
  stroke: var(--p-color);
  stroke-width: 2;
  stroke-linecap: round;
  height: 100%;
  overflow: visible;
  transform: translateX(calc(var(--sgp) * 0.5cqh));
}

@media (max-aspect-ratio: 1/1) {
  .dividerSVG {
    transform: none;
  }
}

.bullet {
  fill: #fff;
}

.skillsGroup {
  pointer-events: all;
  cursor: pointer;
  will-change: filter;

  &:hover {

    .skillGroupTitle,
    .skillGroupDescription {
      filter: blur(0.3px);
    }

    .skillGroup:hover {

      .skillGroupTitle,
      .skillGroupDescription {
        filter: none;
      }
    }
  }
}

.skillGroup {
  pointer-events: all;
}

.skillGroupTitle {
  font-size: 0.7rem;
  font-weight: 600;
  stroke-width: 0;
  alignment-baseline: text-after-edge;
  transform: translate(0.6rem, 0);
  transition: filter 0.2s 0s ease;

  &[data-size="sm"] {
    font-size: 0.3rem;
  }

  &[data-size="md"] {
    font-size: 0.5rem;
  }
}
@media (max-width: 991px) {
  .skillGroupTitle {
    font-size: 0.5rem;
  }
}
@media (max-aspect-ratio: 1/1) {
  .skillGroupTitle {
    font-size: 0.3rem;

    &[data-size="sm"] {
      font-size: 0.3rem;
    }

    &[data-size="md"] {
      font-size: 0.3rem;
    }
  }
}

.skillGroupDescription {
  font-size: 0.3rem;
  font-weight: 100;
  stroke-width: 0;
  alignment-baseline: text-before-edge;
  fill: var(--mid-grey);
  transform: translate(0.6rem, 0);
  transition: filter 0.2s 0s ease;

  &[data-size="sm"] {
    font-size: 0.2rem;
  }

  &[data-size="md"] {
    font-size: 0.25rem;
  }
}



@media (max-aspect-ratio: 1/1) {
  .skillGroupDescription {
    font-size: 0.15rem;

    &[data-size="sm"] {
      font-size: 0.15rem;
    }

    &[data-size="md"] {
      font-size: 0.15rem;
    }
  }
}

.skillItems {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-block: 32px;
  justify-content: center;
}

.skillItem {
  display: inline;
}

.skillItem:nth-child(n)::after {
  content: ', ';
}