.companiesWrapper{
  width:100%;
  display:flex;
  flex-direction:column;
  max-width:1200px;
  margin-inline:auto;
  gap:1rem;
}
.experienceListWrapper {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  gap:1rem
}

  @keyframes scrollLeft {
      0% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(-60%);
      }
      100%{
          transform: translateX(0);
      }
  }



.experienceList {
  margin-block: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 2rem;
  animation: scrollLeft 100s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  &:hover {
    animation-play-state: paused;
  }
}

@media (max-width: 1199px) {
  .experienceList {
    margin-inline: 32px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .experienceList {
    margin-inline: 32px;
    grid-template-columns: 1fr;
  }
}

.experienceWrapper {
  min-width: max-content;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto 18px 1fr;
  grid-template-areas: "logo co-name" "logo date" "logo desc";
  gap: 4px 16px;
}

.companyName {
  grid-area: co-name;
  color: var(--p-color);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .companyName {
    font-size: 1.2rem;
  }
}

.experienceDate {
  grid-area: date;
  color: var(--mid-grey);
  font-size: 0.8rem;
  font-weight: 100;
}

.companyLogo {
  grid-area: logo;
  object-fit: contain;
}

.companyDESC {
  grid-area: desc;
  /* color:var(--p-color); */
  font-size: 1.0rem;
  font-weight: 400;
}

