.experiencesSectionWrapper {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.experienceList {
  margin-block: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media (max-width: 1199px) {
  .experienceList {
    margin-inline: 32px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .experienceList {
    margin-inline: 32px;
    grid-template-columns: 1fr;
  }
}

.experienceWrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto 18px 1fr;
  grid-template-areas: "logo co-name" "logo date" "logo desc";
  gap: 4px 16px;
}

.companyName {
  grid-area: co-name;
  color: var(--p-color);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .companyName {
    font-size: 1.2rem;
  }
}

.experienceDate {
  grid-area: date;
  color: var(--mid-grey);
  font-size: 0.8rem;
  font-weight: 100;
}

.companyLogo {
  grid-area: logo;
  object-fit: contain;
}

.companyDESC {
  grid-area: desc;
  /* color:var(--p-color); */
  font-size: 1.0rem;
  font-weight: 400;
}

