<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>mohammad javad bathaei</title>
		<meta name="description" content="seyed mohammad javad bathaei official website" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/styles/globals.css" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
